h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.headerWithBackground{
    background: #A80000;
    color: white;
    margin-top: -25px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.textWithBackground{
    background: #CC9999;
    color: white;
    margin-top: -15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

h2 {
    color: #A80000;
    font-family: "Courier New", Courier, monospace;
}

h3 {
    color: #A80000;
    font-family: "Courier New", Courier, monospace;
}

h4 {
    color: #A80000;
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
}

a.link-format{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #A80000;
    font-family: "Courier New", Courier, monospace;
}

div.center-stuff{
        text-align: center;
}

a.click-me{
    color: #A80000;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
     color: white;   
}

a:hover {
    color: #A80000;
}

li {
    color: #A80000;
    font-family: "Courier New", Courier, monospace;
}

li.index {
    display: inline;
    color: #A80000;
}

p {
    color: #A80000;
    font-family: "Courier New", Courier, monospace;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 100px; 
}